body{
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
}

p{
	margin: 0px;
}

.content{
	padding-top: 54px;
	padding-bottom: 40px;
}

.form-control{
	font-size: 18px;
	border: none;
    border-radius: 2px;
    color: #999999;
	min-height: 43px;
}

.input-group-addon{
	background-color: #EEEEEE;
	border: none;
    border-radius: 2px;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb{
	font-size: 14px;
	color: #999999;
	padding: 16px 0px;
    margin-bottom: 0px;
    background-color: #EEEEEE;
}

.txt-700{
	font-weight: 700;
}

.txt-14{
	font-size: 14px;
}

.txt-16{
	font-size: 16px;
}

.txt-24{
	font-size: 24px;
}

.txt-28{
	font-size: 28px;
}

.txt-46{
	font-size: 46px;
}

.block-16{
	height: 16px;
}

.block-24{
	height: 24px;
}

.block-32{
	height: 32px;
}

.contenedor-busqueda{
	margin: 5% 30%;
}

.contenedor-producto{
	display: flex;
	padding: 16px;
	cursor: pointer;
}

.linea-gris{
	border-bottom: 1px solid #777777;
	margin: 0 16px;
}

.button-enviar{
	width: 100%;
	padding: 10px;
	background-color: #222;
	color: #fff;
}

.cursor-pointer{
	pointer-events: all;
	cursor: pointer;
	color: blue;
}

.boton-enviar{
	width: 100%;
	padding: 10px;
	background-color: #222;
	color: #fff;
	border-radius: 3px;
}

.btn-like{
	background-color: cadetblue;
	color: #fff;
	border: 0;
	padding: 5px 10px;
	border-radius: 3px;
	width: 100%;
}

.btn-unlike{
	background-color: red;
	color: #fff;
	border: 0;
	padding: 5px 10px;
	border-radius: 3px;
	width: 100%;
}

.navbar-amarilla{
	padding: 10px;
	background-color: #fff159;
}

